body {
    font-size:x-large;
}


#image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}


.resultScreen {
    padding-top: 3vh;
}

img {
    height: 350px;
    max-width: 600px;
}