main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#apiStuff {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card_button {
    margin-left: 20px;
}

#clear {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45%;
}
.card_name {
    padding-top: 10px;
}
.card_name, .card_info {
    padding-left: 10px;
}