/* Affects the spacing on each page and the JMU-ified gradient pattern */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(gold,rgb(86, 62, 147));
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Sets the navbar to wrap when there isn't enough space */
@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    .navbar {
        flex-flow: wrap;
    }
  }

body p {
    display: inline;
}

/* Font of heading text */
h1{
    color: purple;
    text-align: center;
    font-family: sans-serif;
}

/* Font of non-heading text */
main, footer {
    font-family: serif;
}

/* Spaces items in the navbar and draws outline */
.navbar{
    display: flex;
    border: 2px inset black;
    justify-content: space-evenly;
}

/* Makes links blue according to convention */
a{
    text-decoration: none;
    color: royalblue;
    padding-top: 3px;
    padding-bottom:3px;
}

/* Manages spacing and outline of the contact information, located in the footer */  
#contacts{
    width: 100%;
    display: flex;
    border: 2px inset black;
    flex-direction: column;
    padding-bottom: 0px;
    max-height: 150px;
    justify-content: end;
    padding-left: 5px;
    
}

/* Affects text in contacts */
 #contacts p {
    margin: 0;
    padding-bottom: 3px;
}

/* Affects links in contacts */
#contacts a {
    color: black;
}