
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(gold,rgb(86, 62, 147));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: purple;
    text-align: center;
}

.navbar{
    display: flex;
    border: 2px inset black;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: royalblue;
    padding-top: 3px;
    padding-bottom: 3px;
}

  
#contacts{
    margin-top: 25%;
    width: 100%;
    display: flex;
    border: 2px inset black;
    flex-direction: column;
    padding-bottom: 0px;
    max-height: 100px;
    justify-content: end;
    padding-left: 5px;
    
}

 #contacts p {
    margin: 0;
    padding-bottom: 3px;
}

#contacts a {
    color: black;
}





